@font-face {
    font-family: 'norwester';
    src: url(../fonts/norwester.otf);
}

*:not(svg){
    position: relative;
}

svg {
    position: absolute;
    font-family: norwester;
    max-width: 100%;
    width: 100%;
}

svg tspan {
    opacity: 0.5;
    fill: transparent;
    stroke: #AAA;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
    animation-name: draw;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes draw {
    50% {
        fill: transparent;
    }
    90% {
        stroke-dashoffset: 0;
    }
    100% {
        fill: #DDD;
    }
}

@media (max-width: 767px){
    #error p {
        max-width: unset;
    }
}