/* Basic css classes that can be applied to various components to make them look fancy*/

.bordered {
  border: 1px solid #ddd;
}

.fade {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px lightgray dashed;
}

@media (min-width: 1024px) {
  .fade-hide {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }

  /* center using margin */
  .m-center {
    max-width: 1024px;
    margin-left: calc(50% - 1024px / 2) !important;
    margin-right: calc(50% - 1024px / 2) !important;
  }

  /* center using padding */
  .center {
    max-width: 1024px;
    padding-left: calc(50% - 1024px / 2);
    padding-right: calc(50% - 1024px / 2);
  }
}

.clickable {
  cursor: pointer;
}

.see-through {
  opacity: 0.95;
}

.disabled,
*[disabled] {
  opacity: 0.7;
}

.hover,
.hover:hover:not(.disabled):not([disabled]) {
  transition: all 0.8s ease;
}

.hover.scale:hover:not(.disabled):not([disabled]) {
  transform: scale(1.1);
}

/* color modifying styles */

.blue {
  background-color: #0881c6;
  color: white;
}

.blue.hover:not(.disabled):not([disabled]):hover,
.blue.active {
  background-color: #076696;
  color: white;
}

.blue.hover:not(.disabled):not([disabled]):active {
  background-color: #055075;
  color: #eee;
}

.gray {
  background-color: #ddd;
  color: black;
}

.gray.hover:not(.disabled):not([disabled]):hover,
.gray.active {
  background-color: #e4e4e4;
  color: #222;
}

.gray.hover:not(.disabled):not([disabled]):active {
  background-color: #ccc;
  color: #111;
}

.white {
  background-color: white;
  color: #444446;
}

.white.hover:not(.disabled):not([disabled]):hover,
.white.active {
  background-color: #ddd;
  color: #222224;
}

.white.hover:not(.disabled):not([disabled]):active {
  background-color: #aaa;
  color: #111113;
}

.orange {
  background: #f77e39;
  color: white;
}

.orange.hover:not(.disabled):not([disabled]):hover,
.orange.active {
  background-color: #d16432;
  color: white;
}

.orange.hover:not(.disabled):not([disabled]):active,
.orange.active {
  background-color: #ba5b2c;
  color: #ddd;
}

.red {
  background: #ff003c;
  color: white;
}

.red.hover:not(.disabled):not([disabled]):hover,
.red.active {
  background: #ff2457;
}

.red.hover:not(.disabled):not([disabled]):active,
.red.active {
  background: #f21347;
}

.green {
  background: #73ce2e;
  color: white;
}

.green.hover:not(.disabled):not([disabled]):hover,
.green.active {
  background: #7dcc41;
}

.green.hover:not(.disabled):not([disabled]):active,
.green.active {
  background: #5ba324;
}

/* size modifying styles */

.large {
  padding: 20px 40px;
}

.medium {
  padding: 10px 20px;
}

.small {
  padding: 5px 10px;
}

.xsmall {
  padding: 1px 2px;
}

/* animations */

.fade-in,
.fade-out {
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.scale-in,
.scale-out {
  animation-name: scale;
  animation-duration: 1;
  animation-timing-function: ease-out;
}

.fade-out,
.scale-out {
  animation-direction: reverse;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
