.plus {
  height: 25px;
  width: 25px;
  top: 10px;
  right: 10px;
}

.plus,
.plus:before,
.plus:after {
  position: absolute;
}

.plus:before,
.plus:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 25px;
  width: 3px;
  background-color: #333;
  border-radius: 10px;
}

.plus:before {
  transform: rotate(90deg);
}

.plus.cross:before {
  transform: rotate(45deg);
}

.plus.cross:after {
  transform: rotate(-45deg);
}

.hamburger {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;

  padding: 5px;
}

.hamburger input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -2px;
  left: -2px;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #888;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.hamburger span:first-child {
  transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(1) {
  transform-origin: 0% 100%;
}

.hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-1px, -1px);
  background: #232323;
}

.hamburger input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger input:checked ~ span:nth-last-child(1) {
  transform: rotate(-45deg) translate(1px, 1px);
}

.hamburger.hover,
.plus.hover,
.arrow.hover {
  opacity: 0.3;
  cursor: pointer;
}

.hamburger.hover input {
  cursor: pointer;
}

.hamburger.hover > span {
  background: #333;
}

.hamburger.hover:hover,
.plus.hover:hover,
.arrow.hover:hover {
  opacity: 1;
}

.arrow {
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  bottom: -5px;
  left: -10px;
  transition: 0.4s ease;
  margin-top: 2px;
  text-align: left;
  transform: rotate(45deg);
  float: right;
}

.arrow:before,
.arrow:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 12px;
  height: 3px;
  background-color: #333;
  transition: 0.4s ease;
}

.arrow:after {
  position: absolute;
  transform: rotate(90deg);
  top: -5px;
  left: 5px;
}

.active .arrow {
  transform: rotate(45deg) translate(-5px, -5px);
}

.active .arrow:before {
  transform: translate(10px, 0);
}

.active .arrow:after {
  transform: rotate(90deg) translate(10px, 0);
}
