/* --------- smartphone ----------- */
@media (max-width: 767px) {
  .s-small,
  .s-medium,
  .s-big {
    display: none;
  }

  .s-small-only,
  .s-medium-only {
    display: none;
  }

  .s-x-small-only {
    display: initial;
  }
}
/* -------- tablets----------- */
@media (min-width: 768px) and (max-width: 1023px) {
  .s-medium,
  .s-big {
    display: none;
  }

  .s-x-small-only,
  .s-medium-only {
    display: none;
  }

  .s-small-only {
    display: initial;
  }
}
/* --------- small desktop screen ------------- */
@media (min-width: 1024px) and (max-width: 1280px) {
  .s-big {
    display: none;
  }

  .s-small-only,
  .s-x-small-only {
    display: none;
  }

  .s-medium-only {
    display: initial;
  }
}

@media (min-width: 1281px) {
  .s-x-small-only,
  .s-small-only,
  .s-medium-only {
    display: none;
  }
}
