/* Default Button style */

.button {
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.disabled,
.button[disabled] {
  cursor: not-allowed;
}

.button.fade {
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
}

.button.hover:not(.disabled):not(.no-shadow):not([disabled]):hover {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

/* Link styles */

a.link {
  color: blue;
}

a.link:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;

  display: inline-block;

  text-decoration: inherit;

  margin: auto 3px;
}

a.link:after {
  content: "\f08e";
  text-decoration: none;
}

/* Default header styles */

body,
html {
  height: 100%;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

h1 {
  font-size: 2.2em;
  margin: 0.6em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1em;
  margin: 0.3em 0;
}

h4 {
  font-size: 0.8em;
  margin: 0.4em 0;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.9em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.1em;
  }
}

/* Misc element styles */

iframe {
  border: none;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}

*:focus {
  outline: none;
}

/* Flex layout classes */

.flex {
  display: flex;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  flex-flow: row nowrap;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.col {
  flex-direction: column;
}

.flex.space {
  justify-content: space-between;
}

.flex.cen {
  justify-content: center;
  align-items: center;
}

.flex:not(.no-stretch) > * {
  flex-grow: 1;
}

/* Panel styles */

.panel {
  padding: 20px 20px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;

  text-align: center;

  position: relative;

  background: white;

  flex-grow: 1;
  overflow: hidden;
}

/* Roman list */

ul.roman {
  list-style-position: inside;
}

ul.roman li {
  font-weight: bolder;
  list-style-type: upper-roman;
  margin: 8px 0px;
}

/* General Input Styles */

textarea {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ddd;
  padding: 5px;
  box-sizing: border-box;
}

input[type="text"],
input[type="number"],
input[type="url"],
input[type="password"] {
  border: 1px solid #ddd;
  min-width: 0; /* Firefox and Egde need this */

  min-height: 1em;
  height: 2em;

  padding: 0px 5px;
  margin-left: 10px;
  margin-right: 10px;

  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

form input[type="text"]:valid,
form input[type="number"]:valid,
form input[type="url"]:valid,
form input[type="password"]:valid {
  border-bottom: 1px solid lime;
}

form input[type="text"]:invalid,
form input[type="number"]:invalid,
form input[type="url"]:invalid,
form input[type="password"]:invalid {
  border-bottom: 1px solid coral;
}

.form-input > * {
  text-align: left;
  font-style: italic;

  margin: 2px 10px;
}

.form-input .error {
  font-size: 60%;
  color: coral;
}

.form-input {
  display: flex;
  flex-direction: column;

  margin: 10px 0px;
}

/* Turns out browser checkboxes are ass-ugly */
/* Customize the label (the container) */
.cb-container {
  display: block;
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  margin-top: 2px;
  z-index: 100;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #eee;
  margin-top: 2px;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* Search UI Element */

.search {
  margin: 10px;
  padding: 0px 4px;

  border: 1px solid #999;

  display: flex;
  justify-content: space-between;
}

.search:before,
.search:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;

  display: inline-block;

  text-decoration: inherit;

  margin: auto 3px;
}

.search:before {
  content: "\f002";
}

.search:after {
  content: "\f057";
}

.search input {
  margin: 5px;
  border: 0;
  flex-grow: 2;
}

.search.seperated input {
  border-left: 1px solid #888;
  border-right: 1px solid #888;
}

/* Dropdown selection menu thingy styles */

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu .menu {
  position: absolute;

  opacity: 0;
  transition: all 0.3s;

  width: calc(100% - 22px);
  max-height: 400px;
  overflow-y: scroll;

  background: white;

  border: 1px solid #bbb;

  margin-left: 10px;
  margin-right: 10px;

  z-index: 10000;

  box-shadow: 0px 8px 10px #ccc, -10px 8px 15px #ccc, 10px 8px 15px #ccc;

  animation-name: hide-in-a-bit;
  animation-duration: 1s;
}

.dropdown-menu > input[type="text"] {
  border: none;
  border-bottom: 1px dotted #555;
  max-width: 250px;
  font-size: 1em;
}

.dropdown-menu > input:focus {
  border: 1px solid #bbb;
  border-bottom: none;
  box-shadow: 0px 0px 10px 5px #ccc;
}

.dropdown-menu input:focus + .menu {
  opacity: 0.95;
  border-top: none;
}

.dropdown-menu .menu ul li {
  padding: 3px 10px;
  text-align: left;
  cursor: pointer;
}

/* DropDown styles */
.dropdown {
  z-index: 10;
  width: 100%;
  position: absolute;
  display: none;
  left: 0;
}

/*
 * Tooltip stuff
 */

.tooltip {
  position: static;
  display: inline-block;
  border-bottom: 1px dotted #555;
}

.tooltip .tooltiptext {
  opacity: 0;
  font-weight: normal;
  font-size: 0.9em;
  text-align: center;

  visibility: hidden;
  z-index: 9;

  border: 3px solid #ddd;
  background: #fff;

  left: 50%;
  transform: translateX(-50%);

  padding: 5px;
  margin: 5px;

  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
  transition: 1s opacity;
}

/* (Under)lines */
.underlined {
  margin-bottom: 5px;

  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(211, 211, 211, 1) 15%,
      rgba(211, 211, 211, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
}

.underlined.pad {
  padding-bottom: 10px;
}

.leftlined {
  margin-left: 5px;

  border-left: 1px solid transparent;
  border-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(211, 211, 211, 1) 15%,
      rgba(211, 211, 211, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
}

.leftlined.pad {
  padding-left: 10px;
}

.rightlined {
  margin-right: 5px;

  border-right: 1px solid transparent;
  border-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(211, 211, 211, 1) 15%,
      rgba(211, 211, 211, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
}

.rightlined.pad {
  padding-right: 10px;
}

.overlined {
  margin-top: 5px;

  border-top: 1px solid transparent;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(211, 211, 211, 1) 15%,
      rgba(211, 211, 211, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
}

.overlined.pad {
  padding-top: 10px;
}

.info-green {
  background: #ddffdd;
  border: 1px solid #a8ff93;
  border-radius: 10px;
  padding: 5px 15px;
  color: #074d07;
  margin: 25px 0px;
}

.info-green a {
  color: #68bf0b !important;
}

.info-yellow {
  background: #fffadd;
  border: 1px solid #e0e37b;
  border-radius: 10px;
  padding: 5px 15px;
  color: #4d4707;
  margin: 25px 0px;
}

.info-red {
  background: #fdd;
  border: 1px solid #ff9393;
  border-radius: 10px;
  padding: 5px 15px;
  color: #4d0707;
  margin: 25px 0px;
}

.output {
  display: none;
  font-style: italic;
  font-size: 80%;
  margin: 0px;
}

form .output {
  margin: 0px 10px;
}

ul.selection-list {
  border: 1px solid #999;
  font-size: 80%;
  margin: 10px 0px;
}

ul.selection-list li {
  padding: 5px;
  text-align: left;
  cursor: pointer;
}

/* Tab panel stuff */
.tab-content:not(.tab-content-active) {
  display: none;
}

.tab {
  cursor: pointer;
}

.tab-active {
  color: #0881c6;
}
