[package]
name = "pointercrate-integrate"
version = "0.1.0"
authors.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sqlx = { version = "0.8", default-features = false, features = [ "runtime-tokio-native-tls", "macros", "postgres", "chrono" ] }
bincode = "1.3.1"
reqwest = "0.12.*"
futures = "0.3.31"
log = "0.4.28"
chrono = "0.4.41"
tokio = {version = "1.47.1", features = ["rt"]}
pointercrate-demonlist = { path = "../pointercrate-demonlist" }
pointercrate-core = { path = "../pointercrate-core" }
dash-rs = { git = "https://github.com/stadust/dash-rs" }
governor = "0.10.1"
nonzero_ext = "0.3.0"

