/*
!/src
!/Cargo.toml
!/Cargo.lock
!/rustfmt.toml
!/diesel.toml
!/migrations
!/build_documentation.rs
!/README.md
!/doc
!/pointercrate-user/sql
!/robots.txt
!/demonlist-guidelines
!/.gitmodules
!/pointercrate-**
!/sqlx_prepare_all.sh