/*
!/src
!/Cargo.toml
!/rustfmt.toml
!/migrations
!/build_documentation.rs
!/README.md
!/static
!/doc

# Really not sure if I'm allowed to push this, so lets just not
# TODO: manually send this to the server
*.otf