.button {
  max-width: 100px;
}

.right .button {
  margin: 0px auto;
}

#things span {
  margin: 5px;
}

#things {
  text-align: left;
}

#things p {
  font-size: 80%;
  margin: 0px;
}

#access-token {
  font-size: 80%;
}
