table {
  width: 90%;
  margin: 0 5%;
}

th {
  height: 3em;
  padding: 6px;

  color: #fff;
}

td {
  line-height: 2em;
  text-indent: 5px;
}

tr {
  background: #fefeff;
}

tr:nth-child(even) {
  background: #e6eeff;
}

#editors li {
  display: inline-block;
  margin: 2px;
  overflow: hidden;
}

#editors ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

  margin: 0% 5%;

  font-variant: small-caps;
}

.right p,
.right span,
#rules span {
  font-size: 0.8em;
  font-weight: normal;
}

@media (max-width: 1023px) {
  #rules,
  #discord {
    order: -1;
  }

  #discord {
    width: 100%;
  }

  #editors,
  #submit,
  #stats {
    min-width: 200px;
    width: 30%;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  #editors,
  #submit,
  #stats {
    width: 100%;
  }

  .video-link {
    display: none;
  }
}

.dropdown {
  background: white;
  text-align: center;
}

.dropdown li {
  padding: 10px calc(10px + 0.52434444444444%);
  min-width: 200px;
  width: 200px;
  flex-grow: 1;
}

.dropdown i {
  font-variant: small-caps;
  font-size: 0.8em;
}

#lists .button {
  font-weight: 600;
}

#level-info span {
  margin: 5px 10px;
}

/* Stats viewer styles */
/*
@media (min-width: 768px) {
  #stats-viewer-pagination {
    max-width: 40%;
  }

  #stats-right {
    max-width: 60%;
  }
}

@media (max-width: 767px) {
  #stats-right {
    max-width: 100%;
  }
}*/

#stats-viewer-pagination li i {
  padding-left: 5px;

  color: #444;

  font-size: 70%;
  font-variant: small-caps;
}
/*
.stats-container {
  margin: 5px 0%;
  flex-wrap: wrap;
}

.stats-container > * {
  margin: 5px 1%;
}

.stats-container b {
  font-size: 110%;
}

.stats-container :not(b) {
  font-size: 90%;
}*/

/* Submission form styles */

/*#submitter input:not([type="submit"]):not([type="checkbox"]) {
  width: 98%;
}*/

#submission-form h3 {
  margin: 20px 0px 10px 0px;
}

#submission-form > p {
  margin: 5px 0;

  font-size: 90%;
  text-align: center;
}

.thumb {
  max-width: 30%;
  min-width: 30%;
  background: black;
  background-size: cover;
}

/* copied from https://codepen.io/injms/pen/gemvi */
.play {
  background: #536778;
  border-radius: 50% / 10%;
  color: #ffffff;
  font-size: 0.5em; /* change this to change size */
  height: 3em;
  /*margin: 0px auto;*/
  padding: 0;
  position: absolute;
  text-align: center;
  text-indent: 0.1em;
  transition: all 150ms ease-out;
  width: 4em;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play:hover {
  background: darkorange;
}

.play::before {
  background: inherit;
  border-radius: 5% / 50%;
  bottom: 9%;
  content: "";
  left: -5%;
  position: absolute;
  right: -5%;
  top: 9%;
}

.play::after {
  border-style: solid;
  border-width: 1em 0 1em 1.732em;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
  content: " ";
  font-size: 0.75em;
  height: 0;
  margin: -1em 0 0 -0.75em;
  top: 50%;
  position: absolute;
  width: 0;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: #0881c6;
}
