.information-stripe {
  background: #0881c6;
  text-align: center;
  color: white;
  font-weight: bold;
  position: relative;
}

.information-stripe span {
  line-height: 50px;
  height: 50px;
  margin: 0px 5px;
}

.information-banner {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  font-size: 110%;
}

.information-banner > * {
  background: white;
  padding: 50px 20px;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 7px 5px white;
}

.information-banner .information {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.information-banner .button {
  height: 50px;
}

.information-banner ul {
  list-style: square inside
    url("data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==");
}

@media (max-width: 1043px) {
  .information-banner > * {
    width: 100%;
  }

  .information-banner.right > * {
    flex-flow: column-reverse;
  }

  .information-banner.left > * {
    flex-flow: column;
  }

  .information-banner .information,
  .information-banner .information * {
    text-align: center !important;
  }

  #changelog h3 {
    display: inline;
  }

  #about-inner {
    flex-direction: column;
  }
}

@media (min-width: 1044px) {
  .information-banner > * {
    flex-flow: row;
    /* This makes it work, don't question it */
    flex-shrink: 0;
  }

  .information-banner.right .information,
  .information-banner.right .information * {
    text-align: right !important;
  }

  .information-banner .information {
    width: 70%;
  }
}
