.left {
  max-width: 70%;
}

.right {
  max-width: 30%;
}

@media (max-width: 1023px) {
  .container {
    flex-wrap: wrap;
  }

  .left {
    max-width: 100%;
    min-width: 100%;
  }

  .right {
    max-width: 100%;
    min-width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.left {
  max-width: 70%;
}

.right {
  align-items: flex-start;
  max-width: 30%;
  margin-bottom: 50px;
}

.right p {
  font-size: 0.8em;
}
