table {
  width: 90%;
  margin: 0 5%;
}

th {
  height: 3em;
  padding: 6px;

  color: #fff;
}

td {
  line-height: 2em;
  text-indent: 5px;
}

tr {
  background: #fefeff;
}

tr:nth-child(even) {
  background: #e6eeff;
}

#history-table {
  font-weight: bold;
}

#history-table tr {
  background: var(--color-warn-bg);
  color: var(--color-warn-text);
}

/* same colors as info boxes! */
#history-table tr.moved-up {
  background: var(--color-ok-bg);
  color: var(--color-ok-text);
}

#history-table tr.moved-down {
  background: var(--color-error-bg);
  color: var(--color-error-text);
}

#editors li {
  display: inline-block;
  margin: 2px;
  overflow: hidden;
}

#editors ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

  margin: 0% 5%;

  font-variant: small-caps;
}

.right p,
.right span,
#rules span {
  font-size: 0.8em;
  font-weight: normal;
}

@media (max-width: 1071px) {
  #rules,
  #discord {
    order: -1;
  }

  #discord {
    width: 100%;
  }

  #editors,
  #submit,
  #stats {
    min-width: 200px;
    width: 30%;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  #editors,
  #submit,
  #stats {
    width: 100%;
  }

  .video-link {
    display: none;
  }
}

.dropdown {
  background: var(--color-bg);
  text-align: center;
}

.dropdown li {
  padding: 10px calc(10px + 0.52434444444444%);
  min-width: 200px;
  width: 200px;
  flex-grow: 1;
}

.dropdown i {
  font-variant: small-caps;
  font-size: 0.8em;
}

#lists .button {
  font-weight: 600;
}

#level-info span {
  margin: 5px 10px;
}

/* Stats viewer styles */

#stats-viewer-pagination li i {
  padding-left: 5px;

  color: #444;

  font-size: 70%;
  font-variant: small-caps;
}

/* Submission form styles */

#submission-form h3 {
  margin: 20px 0px 10px 0px;
}

#submission-form > p {
  margin: 5px 0;

  font-size: 90%;
  text-align: center;
}

.thumb {
  background: black;
  background-size: cover;
}

.completed {
  background: var(--color-ok-bg);
}

@media (max-width: 767px) {
  .thumb {
    width: 100%;
    box-shadow: 1px -53px 26px -20px var(--color-bg) inset;
  }

  .completed .thumb {
    box-shadow: 1px -53px 26px -20px var(--color-ok-bg) inset;
  }

  .demon-byline {
    font-size: 80%;
  }

  .demon-info {
      margin-top: -10px;
  }
}

@media (min-width: 768px) {
  .thumb {
    max-width: 30%;
    min-width: 30%;
  }

  .demon-byline {
    padding-left: 15px;
  }
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: #0881c6;
}
